<div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/users/dashboard"><i class="fa fa-home fa-fw"></i>Dashboard</a></li>
                <li><a href="#/users/edit"><i class="fa fa-home fa-fw"></i>Update my data</a></li>
                <li><a href="#/users/password"><i class="fa fa-home fa-fw"></i>Change my password</a></li>
                <li><a href="#/users/address"><i class="fa fa-list-alt fa-fw"></i>Manage addresses</a></li>
                <li><a href="#/users/logout"><i class="fa fa-file-o fa-fw"></i>Log Out</a></li>
            </ul>
</div>