<div class="center_form">
<h2>Users login</h2>
<form name="user_form" novalidate class="forms">
	<table>
	<tr>
		<td>Username:</td>
		<td><input type="text" ng-model="username" required/></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input type="password" ng-model="password" required/></td>
	</tr>
	</table>
	<div>
		<span>
			<button type="submit" ng-click="validate_user()">Log in</button>
		</span>
		<span>
			<button type="submit" ng-click="logout()">Log out</button>
		</span>
	</div>
</form>
<br>
<br>
<div>
	<span><a ng-href="#/users/forget">Do you forget your password?</a></span>
	<span><a ng-href="#/users/signup">Sign Up</a></span>
</div>
<div ng-repeat="data in datas">
	{{data.name}}
</div>
</div>
