<div class="center_form">
<h2>Sign up</h2>
<form name="sign_up_form" class="forms">
	<table>
	<tr>
		<td>Username:</td>
		<td><input type="text" ng-module="user.name" required/></td>
	</tr>
	<tr>
		<td>Password:</td>
		<td><input type="password" ng-module="user.password" required/></td>
	</tr>
	<tr>
		<td>Retype your password:</td>
		<td><input type="password" ng-module="user.password2" required/></td>
	</tr>
	<tr>
		<td>Name:</td>
		<td><input type="text" ng-module="user.personal_name" required/></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><input type="email" ng-module="user.email" required/></td>
	</tr>
	<tr>
		<td>ID:</td>
		<td><input type="text" ng-module="user.ccid" required/></td>
	</tr>
	</table>
	<div>
		<button type="submit">Sign up</button>
	</div>
	
</form>
</div>