<?xml version="1.0"?>
<config>
    <modules>
        <BigHippo_SignatureRequired>
            <version>1.0.0</version>
        </BigHippo_SignatureRequired>
    </modules>
    <frontend>
		<routers>
            <signaturerequired>
                <use>standard</use>
                <args>
                    <module>BigHippo_SignatureRequired</module>
                    <frontName>signaturerequired</frontName>
                </args>
            </signaturerequired>
        </routers>
        <layout>
            <updates>
                <signaturerequired>
                    <file>bighippo_signaturerequired.xml</file>
                </signaturerequired>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<signaturerequired>
				<use>admin</use>
				<args>
					<module>BigHippo_SignatureRequired</module>
					<frontName>signaturerequired</frontName>
				</args>
			</signaturerequired>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<signaturerequired>
					<file>bighippo_signaturerequired.xml</file>
				</signaturerequired>
			</updates>
		</layout>
    </adminhtml>   
    <global>
    	<sales>
            <quote>
                <totals>
                    <signaturerequired>
                        <class>signaturerequired/sales_quote_address_total_signaturerequired</class>
                    </signaturerequired>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <signaturerequired>
                        <class>signaturerequired/sales_order_total_invoice_signaturerequired</class>
                    </signaturerequired>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <signaturerequired>
                        <class>signaturerequired/sales_order_total_creditmemo_signaturerequired</class>
                    </signaturerequired>
                </totals>
            </order_creditmemo>
        </sales>
        <events>
        	<paypal_prepare_line_items>
        		<observers>
        			<paypal_prepare_line_items>
        				<class>signaturerequired/observer</class>
                        <method>updatePaypalTotal</method>
        			</paypal_prepare_line_items>
        		</observers>
        	</paypal_prepare_line_items>
           	<sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>signaturerequired/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
               <observers>
                   <sales_order_creditmemo_save_after>
                       <class>signaturerequired/observer</class>
                       <method>creditmemoSaveAfter</method>
                   </sales_order_creditmemo_save_after>
               </observers>
           </sales_order_creditmemo_save_after>
			<sales_convert_quote_to_order>
		        <observers>
		            <sales_convert_quote_to_order>
						<class>signaturerequired/observer</class>
		                <method>quoteToOrder</method>
		            </sales_convert_quote_to_order>
		        </observers>
			</sales_convert_quote_to_order>
        </events>
        <fieldsets>
        	<!-- These values will be copied during order creation -->
            <sales_convert_quote_address>
                <signaturerequired_amount><to_order>*</to_order></signaturerequired_amount>
                <base_signaturerequired_amount><to_order>*</to_order></base_signaturerequired_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <!--pdf>
            <totals>
                <signaturerequired translate="title">
                    <title>Other Charges</title>
                    <source_field>fee_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix>-</amount_prefix>
                </signaturerequired>
            </totals>
        </pdf-->
        <models>
            <signaturerequired>
                <class>BigHippo_SignatureRequired_Model</class>
                <resourceModel>signaturerequired_mysql4</resourceModel>
            </signaturerequired>
            <signaturerequired_mysql4>
                <class>BigHippo_SignatureRequired_Model_Mysql4</class>
                <entities>
                    <signaturerequired>
                        <table>signaturerequired</table>
                    </signaturerequired>
                </entities>
            </signaturerequired_mysql4>
        </models>
        <resources>
            <signaturerequired_setup>
                <setup>
                    <module>BigHippo_SignatureRequired</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </signaturerequired_setup>
            <signaturerequired_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </signaturerequired_write>
            <signaturerequired_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </signaturerequired_read>
        </resources>
        <blocks>
            <signaturerequired>
                <class>BigHippo_SignatureRequired_Block</class>
            </signaturerequired>
        </blocks>
        <helpers>
            <signaturerequired>
                <class>BigHippo_SignatureRequired_Helper</class>
            </signaturerequired>
        </helpers>
    </global>
    <default>
    	<sales>
            <totals_sort>
                <signaturerequired>15</signaturerequired>
            </totals_sort>
		</sales>
        <checkout>
            <bighippo_signaturerequired>
                <enabled>1</enabled>
                <label0>Signature Required</label0>
                <amount0>2</amount0>
            </bighippo_signaturerequired>
		</checkout>
	</default>
</config>