<?xml version="1.0"?>
<config>
    <modules>
        <BigHippo_Icloset>
            <version>2.1.0</version>
        </BigHippo_Icloset>
    </modules>
    <global>
        <blocks>
            <icloset>
                <class>BigHippo_Icloset_Block</class>
            </icloset>
        </blocks>
        <helpers>
            <icloset>
                <class>BigHippo_Icloset_Helper</class>
            </icloset>
        </helpers>
		<models>
	        <icloset>
	            <class>BigHippo_Icloset_Model</class>
	        </icloset>   
        </models>
    </global>    
	<frontend>
		<routers>
			<icloset>
				<use>standard</use>
				<args>
					<module>BigHippo_Icloset</module>
					<frontName>icloset</frontName>
				</args>
			</icloset>
		</routers>
        <layout>
            <updates>
                <icloset>
                    <file>icloset.xml</file>
                </icloset>
            </updates>
        </layout>		
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<icloset>
					<file>icloset.xml</file>
				</icloset>
			</updates>
		</layout>
    </adminhtml>   
</config>