<?xml version="1.0"?>
<config>
    <modules>
        <BigHippo_HistoryOrderSuggestions>
            <version>1.0.0</version>
        </BigHippo_HistoryOrderSuggestions>
    </modules>
    <frontend>
		<routers>
            <bighippo_historyordersuggestions>
                <use>standard</use>
                <args>
                    <module>BigHippo_HistoryOrderSuggestions</module>
                    <frontName>historyordersuggestions</frontName>
                </args>
            </bighippo_historyordersuggestions>
        </routers>
        <layout>
            <updates>
                <bighippo_historyordersuggestions>
                    <file>bighippo_historyordersuggestions.xml</file>
                </bighippo_historyordersuggestions>
            </updates>
        </layout>
        <translate>
            <modules>
                <bighippo_historyordersuggestions>
                    <files>
                        <default>BigHippo_HistoryOrderSuggestions.csv</default>
                    </files>
                </bighippo_historyordersuggestions>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<historyordersuggestions>
				<use>admin</use>
				<args>
					<module>BigHippo_HistoryOrderSuggestions</module>
					<frontName>historyordersuggestions</frontName>
				</args>
			</historyordersuggestions>
        </routers>
    </admin>
    <global>
        <blocks>
            <bighippo_historyordersuggestions>
                <class>BigHippo_HistoryOrderSuggestions_Block</class>
            </bighippo_historyordersuggestions>
        </blocks>
        <helpers>
            <bighippo_historyordersuggestions>
                <class>BigHippo_HistoryOrderSuggestions_Helper</class>
            </bighippo_historyordersuggestions>
        </helpers>
        <models>
            <bighippo_historyordersuggestions>
                <class>BigHippo_HistoryOrderSuggestions_Model</class>
            </bighippo_historyordersuggestions>
        </models>        
    </global>
    <!--default>
		<bighippo_historyordersuggestions>
		</bighippo_historyordersuggestions>
    </default-->
</config>